:root {
  --colour-default: #353a4c;
  --colour-default-hover: #1f232e;
  --colour-bg: #f7f9f7;
  --colour-heading: #1f232e;

  --colour-link: #353a4c;
  --colour-link-hover: #1a202c;

  --colour-primary: #058c42;
  --colour-primary-hover: #16db65;

  --colour-secondary: #ee6352;
  --colour-secondary-hover: #ffa077;

  --colour-accent: #f2bb05;
  --colour-accent-hover: #f2da05;

  --colour-muted: #62677a;
  --colour-muted-hover: #353a4c;

  --colour-border: #62677a;
  --colour-border-hover: #353a4c;

  --colour-logo: #16db65;
  --colour-logoSecondary: #058c42;
}

:root[data-color-scheme='dark'] {
  --colour-default: #e0e1e4;
  --colour-default-hover: #ffffff;
  --colour-bg: #1a202c;
  --colour-heading: #f7f9f7;

  --colour-link: #ffffff;
  --colour-link-hover: #f7f9f7;

  --colour-primary: #16db65;
  --colour-primary-hover: #058c42;

  --colour-secondary: #ffa077;
  --colour-secondary-hover: #ee6352;

  --colour-accent: #f2bb05;
  --colour-accent-hover: #f2da05;

  --colour-muted: #a1a4af;
  --colour-muted-hover: #f7f9f7;

  --colour-border: #353a4c;
  --colour-border-hover: #62677a;

  --colour-logo: #16db65;
  --colour-logoSecondary: #058c42;
}
