:root {
  --colour-default: #353a4c;
  --colour-default-hover: #1f232e;
  --colour-bg: #f7f9f7;
  --colour-heading: #1f232e;

  --colour-link: #353a4c;
  --colour-link-hover: #1a202c;

  --colour-primary: #ffc600;
  --colour-secondary: #fc5b55;

  --colour-accent: #fe933e;
  --colour-accent-hover: #f2da05;

  --colour-muted: #62677a;
  --colour-muted-hover: #353a4c;

  --colour-border: #62677a;
  --colour-border-hover: #353a4c;

  --colour-selection-bg: #ffc600;
  --colour-selection-text: #1a202c;

  --colour-scrollbar: #a1a4af;
}

:root[data-colour-scheme='dark'] {
  --colour-default: #e0e1e4;
  --colour-default-hover: #fff;
  --colour-bg: #1a202c;
  --colour-heading: #f7f9f7;

  --colour-link: #fff;
  --colour-link-hover: #f7f9f7;

  --colour-primary: #ffc600;
  --colour-secondary: #fc5b55;

  --colour-accent: #f2bb05;
  --colour-accent-hover: #f2da05;

  --colour-muted: #a1a4af;
  --colour-muted-hover: #f7f9f7;

  --colour-border: #353a4c;
  --colour-border-hover: #62677a;

  --colour-selection-bg: #f2da05;
  --colour-selection-text: #1a202c;

  --colour-scrollbar: #353a4c;
}
