@tailwind base;

body {
  @apply font-serif bg-martinique text-pale-chestnut antialiased;
  height: 100vh;
  background-color: #3a3747;
  background-image: linear-gradient(-70deg, #23212d, #3a3747);
  background-attachment: fixed;
}
header,
main,
footer {
  @apply mx-auto p-8;
}
header {
  @apply relative flex items-center justify-between;
}
section {
  @apply pb-32 max-w-4xl;
}
.logo {
  @apply flex items-center;
}
.logo span {
  @apply hidden ml-2 text-2xl whitespace-no-wrap;
}
.nav,
.preview {
  @apply flex items-center;
}
.nav {
  @apply my-2;
}
.nav li {
  @apply mr-4;
}
.nav li:last-child {
  @apply mr-0;
}
.nav a {
  @apply text-sm;
}
a {
  @apply underline transform transition-all ease-in-out duration-150;
}
h1 {
  @apply text-4xl tracking-tight;
}
h2 {
  @apply text-3xl;
}
h3 {
  @apply text-2xl;
}
h1 a,
h2 a,
h3 a,
header a,
footer a {
  @apply text-pale-chestnut no-underline;
}
a:hover {
  @apply text-fantasy underline;
}
a:active {
  @apply text-fantasy outline-none underline;
}
a:focus {
  @apply outline-none shadow-outline;
}
a.preview-link {
  @apply ml-8 mt-4 no-underline;
}
a.preview-link:first-child {
  @apply ml-0;
}
a.preview-link span {
  @apply pl-2 text-xs;
}
.preview-icon {
  @apply w-12;
}
.social {
  @apply flex items-center justify-start;
}
.social a {
  @apply mr-6 text-pale-chestnut;
}
.social a:hover {
  @apply text-fantasy;
}
h1 a:hover,
h2 a:hover,
h3 a:hover,
header a:hover,
footer a:hover {
  @apply no-underline;
}
h1 a:focus,
h2 a:focus,
h3 a:focus,
header a:focus,
footer a:focus {
  @apply no-underline;
}
.social a:last-child {
  @apply mr-0;
}
p {
  @apply mb-6 text-xl;
}
p:last-child {
  @apply mb-0;
}
footer p {
  @apply text-sm mb-2;
}
.hero {
  @apply flex flex-col justify-center;
}
.hero h1 {
  @apply mb-8;
}
.skill-list {
  @apply grid grid-cols-2 gap-4 gap-x-4 list-outside ml-4;
}
.skill-list li:before {
  content: '»';
  @apply -ml-4 mr-2 text-mountbatten-pink;
}
.skills h3 {
  @apply mt-12 mb-6;
}
.project-list {
  @apply grid gap-2 gap-y-16 mt-6;
}
.project {
  @apply pr-16;
}
.project h3 {
  @apply mb-4 text-xl;
}
.project p {
  @apply text-sm mb-4;
}
.tags {
  @apply flex flex-wrap items-center;
}
.tags li {
  @apply pr-3 pb-1 text-xs text-mountbatten-pink;
}
@screen md {
  header,
  main,
  footer {
    @apply px-16 py-16;
  }
  header {
    @apply items-center;
  }
  p {
    @apply text-2xl;
  }
  .project-list {
    @apply grid-cols-2;
  }
  .project p {
    @apply text-base;
  }
  .logo span {
    @apply block;
  }
  .nav {
    @apply my-0;
  }
  .nav li {
    @apply mr-2;
  }
  .nav a {
    @apply px-4 text-lg;
  }
}
@tailwind components;
@tailwind utilities;
