@tailwind base;

body {
  @apply font-serif bg-martinique text-pale-chestnut antialiased;
  height: 100vh;
  background-color: #3a3747;
  background-image: linear-gradient(-70deg, #23212d, #3a3747);
  background-attachment: fixed;
}
header,
main,
footer {
  @apply mx-auto p-8;
}
header {
  @apply relative flex items-center justify-between;
}
.section {
  @apply py-8 max-w-screen-lg;
}
a {
  @apply underline transform transition-all ease-in-out duration-150;
}
h1 {
  @apply text-4xl tracking-tight my-16;
}
h2 {
  @apply text-3xl my-12;
}
h3 {
  @apply text-2xl my-4;
}
h1 a,
h2 a,
h3 a,
header a,
footer a {
  @apply text-pale-chestnut no-underline;
}
a:hover {
  @apply text-fantasy underline;
}
a:active {
  @apply text-fantasy outline-none underline translate-y-1;
}
a:focus {
  @apply outline-none text-fantasy underline;
}
.logo {
  @apply text-2xl;
}
.preview {
  @apply flex items-center;
}
a.preview-link {
  @apply ml-8 my-4 no-underline;
}
a.preview-link:first-child {
  @apply ml-0;
}
a.preview-link span {
  @apply pl-2 text-xs;
}
.preview-icon {
  @apply w-12;
}
.social {
  @apply flex items-center justify-start mb-16;
}
.social a {
  @apply mr-6 text-pale-chestnut;
}
.social a:hover {
  @apply text-fantasy;
}
.social a:focus {
  @apply outline-none;
}
.social a:active {
  @apply outline-none translate-y-1;
}
h1 a:hover,
h2 a:hover,
h3 a:hover,
header a:hover,
footer a:hover {
  @apply no-underline;
}
h1 a:focus,
h2 a:focus,
h3 a:focus,
header a:focus,
footer a:focus {
  @apply no-underline;
}
.social a:last-child {
  @apply mr-0;
}
p {
  @apply mb-6 text-xl;
}
footer p {
  @apply text-sm py-1;
}
.hero {
  @apply max-w-screen-lg flex flex-col justify-center;
  min-height: 45vh;
}
.skills {
  @apply grid grid-cols-2 gap-6 row-gap-4 list-outside ml-4 pb-8;
}
.skills li:before {
  content: '»';
  @apply -ml-4 mr-2 text-mountbatten-pink;
}
.project-list {
  @apply grid gap-2 row-gap-16;
}
.project {
  @apply pr-16;
}
.project h3 {
  @apply text-xl leading-tight;
}
.tags {
  @apply flex flex-wrap items-center;
}
.tags li {
  @apply pr-3 pb-1 text-xs text-mountbatten-pink;
}
@screen md {
  .project-list {
    @apply grid-cols-2;
  }
}
@tailwind components;
@tailwind utilities;
